@import "../scss/vars.scss";
.w-100px{
    width: 100px;
}
.photo-delete-icon{
    position: absolute;
}

.max-size-300px{
    max-height: 300px;
    max-width: 300px
}

.max-size-200px{
    max-height: 200px;
    max-width: 200px
}

.h-150px{
    height: 150px;
}

.size-103px{
    height: 103.25px;
    width: 103.25px;
}

@media (min-width:$md) {
    .size-md-box{
        height: 200px!important;
        width: 32.4%!important
    }   
    .h-md-200px{
        height: 200px!important;
    }
}