<div class="files" *ngIf=" post?.files?.length ">

  <div [attr.no]=" photos.length " *ngIf=" display() && photos.length ">
    <div class="flex-center mb-2 max-h-200px max-h-md-250px of-hidden" *ngIf=" edit == false && photos.length == 1">
        <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 760, height: 250, idx: photos[0].idx }) }}">
    </div>

    <div class="d-flex mx-minus-1 mb-2" *ngIf=" edit == false && photos.length == 2">
      <div class="flex-center w-50 p-1 max-h-200px of-hidden border-box" *ngFor=" let photo of photos ">
        <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 300, height: 220, idx: photo.idx }) }}">
      </div>
    </div>

    <div class="mb-2" *ngIf=" edit == false && photos.length == 3">
      <div class="flex-center mb-2 max-h-200px max-h-md-250px of-hidden">
          <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 760, height: 250, idx: photos[0].idx }) }}">
      </div>
       <div class="d-flex my-1">
          <div class="flex-center w-50 max-h-200px pr-1 border-box of-hidden">
            <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 300, height: 200, idx: photos[1].idx }) }}">
          </div>
          <div class="flex-center w-50 max-h-200px pl-1 border-box of-hidden">
            <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 300, height: 200, idx: photos[2].idx }) }}">
          </div>
        </div>
    </div>

    <div class="my-1" *ngIf=" edit == false && photos.length > 3">
      <div class="flex-center mb-1 max-h-200px max-h-md-250px of-hidden">
        <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 760, height: 250, idx: photos[0].idx }) }}">
      </div>
      <div class="d-flex flex-wrap mx-minus-1">
        <ng-container  *ngFor=" let photo of photos; let index = index; ">
          <div *ngIf="index != 0" class="w-33-percent max-h-100px max-h-md-170px my-1 px-1 border-box of-hidden" >
            <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 300, height: 300, idx: photo.idx }) }}">
          </div>
        </ng-container>
      </div>
    </div>

    <div class=" flex-center justify-content-start flex-wrap pb-3" *ngIf=" edit ">
      <div class="position-relative of-hidden size-100px p-2" *ngFor=" let photo of photos ">
        <img class="w-100 border border-box" src="{{ photo.src_thumbnail }}">
        <i *ngIf=" edit " class="material-icons top-right pointer circle text-danger" (click)=" onClickDeleteButton( photo ) ">remove_circle</i>
      </div>
    </div>
  </div>



  <div class="attachments pt-1 pb-2 " [class.flex-center]="edit" *ngIf=" attachments.length ">
    <span class="d-inline-block position-relative p-1" *ngFor=" let file of attachments ">
      <a class="flex-center p-2 mx-1 border rounded bg-light" href="{{ file.url_download }}">
        <i class="material-icons">attach_file</i>
        <span class="mx-1">{{ file.name }}</span>
      </a>
      <i *ngIf=" edit " class="material-icons top-right pointer circle text-danger" (click)=" onClickDeleteButton( file ) ">remove_circle</i>
    </span>
  </div>


</div>

<div class="w-200px p-3 fs-80 text-center" *ngIf="percentage">
  <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
  {{percentage}}%
</div>
