.top-right {
  position: absolute;
  z-index: 12340;
  top: 0;
  right: 0;
}


.bg-white {
    background-color: white;
}
.black {
    color: black
}

.circle {
    border-radius: 50%;
}
.pointer {
    cursor: pointer;
}