<p class="m-3 p-5" *ngIf=" show.firstPageLoader ">
  <b class="ml-3">Loading ...</b>
</p>

<div class="view bg-white">
    <app-forum-basic-view *ngIf=" postView " [post]=" postView "
    (edit)=" edit.emit( $event ) "></app-forum-basic-view>
</div>

<ng-container *ngFor="let post of posts; even as isEven; odd as isOdd ">
  <app-forum-basic-view [class.even]=" isEven " [class.odd]=" isOdd " [post]=" post " (view)=" onView( $event ) "
  (edit)=" edit.emit( $event ) "  ></app-forum-basic-view>
</ng-container>

<div class="text-center py-3 text-muted" *ngIf=" noMorePosts ">
  {{ philgo.t({ en: 'There is no more posts.', ko: '더 이상 글이 없습니다.' })}}
</div>
