.note{
    padding: .5rem .5rem 0 1rem;
    font-size:.85em;
    color:dimgray
}

.reminder,
.note{
    border: 1px solid rgba(orange,0.8);
    border-radius: 2px;
    background: rgba(orange,0.1);
    font-size: 14px;
    line-height: 1.4em;
}

.note{
    border: 1px solid rgba(dodgerblue,0.8);
    background: rgba(dodgerblue,0.1);
    color: black;
}
mat-form-field{
    padding: 0 1px;
    box-sizing: border-box;
    &[appearance]{
        padding: 0;
    }
}

.mat-tooltip.tooltip {
    background-color: darkblue;
    font-size: 12px;
  }