.post-header{
    display: flex;
    padding: .5rem 1rem;
    border-bottom: 1px solid #dddfe2;
    background: #fff;
    transition: .2s background-color ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: #f5f6f7;
    }
    .post-header-thumbnail{
        height: 32px;
        width: 32px;
        overflow: hidden;
        border-radius: 4px;
        img{
            width: 100%;
        }
    }
    .post-header-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1rem;
        flex:1;
        h2{
            font-size: .85rem!important;
        }
    }
}