<div class="bg-white" *ngIf=" post ">

  <div class="post-header" (click)="view.emit( post ) ">
    <div class="thumbnail">
      <img [src]="philgo.primaryPhotoUrl( post?.member?.idx_primary_photo )">
    </div>
    <div class="post-header-text">
      <h2>
        {{ post.subject }} <span *ngIf="post.no_of_comment">({{ post.no_of_comment }})</span>
      </h2>
      <div class="fs-sm">
        <span class="mr-3 darkgreen" *ngIf=" post?.member "> {{ post?.member?.nickname }}</span>
        <span>Date: {{ philgo.shortDate(post.stamp ) }}</span>
      </div>
    </div>
  </div>

  <div class="post-content pt-0" *ngIf=" show(post) ">
    <div>
      <div class="post-text-content child-image-mw-100 child-image-mb-2 child-caption-center-bold" [innerHTML]=" componentService.safeHtml( post?.content ) "></div>
    </div>

    <div class="post-buttons border-top">
      <button (click)=" onVote(post, 'good') " [class.text-primary]=" post.good != '0'">
        <i class="material-icons">thumb_up</i>
        <span> {{ post.good == '0' ? '' : ' ' + post.good }}</span>
      </button>
      <button (click)=" onVote(post, 'bad') ">
        <i class="material-icons">thumb_down</i>
        <span> {{ post.bad == '0' ? '' : ' ' + post.bad }}</span>
      </button>
        <button (click)=" edit.emit( post ) ">Edit</button>
        <button (click)=" onDelete( post ) ">Delete</button>
        <button (click)=" onReport( post ) ">Report</button>
    </div>
  </div>



  <div class="border-top" *ngIf=" show( post ) ">

    <div class="comments comments-depth px-3" *ngIf=" post?.comments?.length ">
      <div class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">

        <div class="w-100">

          <div class="d-flex pt-3 pb-1">
            <div class="thumbnail">
              <img [src]="philgo.primaryPhotoUrl( comment?.member?.idx_primary_photo )">
            </div>
            <div class="ml-2">
              <div class="fs-sm mb-1">{{ comment.member?.nickname }}</div>
              <div class="d-flex align-items-center">
                <div class="fs-sm">No. {{ comment.idx }}</div>
                <div class="ml-2 fs-sm">Date: {{ philgo.shortDate(post.stamp ) }}</div>
              </div>
            </div>
          </div>

          <div class="py-1" *ngIf=" ! comment['edit'] ">
            <div class="py-2" *ngIf="comment.content" [innerHTML]="comment.content"></div>
            <app-display-files *ngIf="comment.files.length" class="d-block pt-2 pb-1" [post]=" comment "
              [showWhenContentHasNoImage]=" true "></app-display-files>
          </div>
          <div class="comment-buttons" *ngIf=" ! comment['edit'] ">
            <button  [class.text-primary]=" comment.good != '0'" (click)=" onVote(comment, 'good') ">
              <i class="material-icons">thumb_up</i>
              <i>{{ comment.good == '0' ? '' : ' ' + comment.good }}</i>
            </button>
            <button (click)=" onVote(comment, 'bad') ">
              <i class="material-icons">thumb_down</i>
              <i> {{ comment.bad == '0' ? '' : ' ' + comment.bad }}</i>
            </button>
            <button (click)=" comment['reply'] = true ">
              <i class="material-icons">reply</i>
              <span>Reply</span>
            </button>
            <button (click)=" comment['edit'] = true ">Edit</button>
            <button (click)=" onDelete( comment ) ">Delete</button>
            <button (click)=" onReport( comment ) ">Report</button>

          </div>

          <app-forum-basic-reply [root]=" post " [post]=" comment " *ngIf=" comment['edit'] == true || comment['reply'] == true "></app-forum-basic-reply>
        </div>
      </div>
    </div>

    <app-forum-basic-reply [root]=" post " [post]=" post "></app-forum-basic-reply>

  </div>
</div>
