<section class="flex-center flex-column" *ngIf="philgo.isLoggedIn() ">

  <div class="d-flex flex-column align-items-center  of-hidden pt-4 pb-5 w-200px">
    <div class="position-relative p-2">

      <input class="transparent-cover w-200px pointer" type="file" name="file" (change)="onChangePrimaryPhoto($event)">
      <div class="size-120px of-hidden">
        <img class="d-block w-100" src="{{ philgo.profilePhotoUrl(form.url_profile_photo) }}">
      </div>
      <i class="top-right p-1 fs-lg circle bg-danger white pointer material-icons"
         (click)=" onClickDeletePrimaryPhoto( $event ) " *ngIf=" form.url_profile_photo && !form['loaderDelete'] ">delete</i>
      <span class="top-right fs-delete-icon" *ngIf="form['loaderDelete']"><mat-spinner class="d-inline-block" [diameter]="26"></mat-spinner></span>

      <button mat-flat-button class="bg-primary mt-3 w-100">
        {{ philgo.t({ko: '사진 업로드', en: 'Upload Photo' }) }}
      </button>

      <div class="text-center fs-80" *ngIf="percentage">
        <mat-progress-bar class="mb-1 mt-3" mode="determinate" value="{{percentage}}"></mat-progress-bar>
        {{percentage}}%
      </div>
      <!-- <div class=" w-100 my-2 p-1 rounded bg-success fs-xs white text-center border-box"  *ngIf="percentage" [style.width]=" percentage + '%'">{{percentage}}%</div> -->
    </div>
  </div>
</section>

<form class="form-content pb-4" (ngSubmit)="onSubmit( $event )">


  <div class="w-100 p-3 bg-light mb-3 border-box text-muted" *ngIf="philgo.isLoggedIn() ">
    {{ _.t({ko: '닉네임', en: 'Nickname' }) }} : {{ form.nickname }}
  </div>

  <div class="w-100 p-3 bg-light mb-3 border-box text-muted" *ngIf="philgo.isLoggedIn() ">
    {{ _.t({ko: '이메일', en: 'Email' }) }} : {{ form.email }}
  </div>

  <div class="border-box">
    <mat-form-field appearance="outline" class="w-100" *ngIf=" philgo.isLoggedOut() ">
      <input [(ngModel)]=" form.email " name="email" type="email" matInput
             (keyup.enter)="onSubmit()">
      <mat-label> {{ _.t({ko: '이메일', en: 'Email' }) }}</mat-label>
      <mat-hint>Input Valid Email Only</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100" *ngIf=" philgo.isLoggedOut() ">
      <input [(ngModel)]=" form.password " name="password" type="password" matInput
             (keyup.enter)="onSubmit()">
      <mat-label>{{ _.t({ko: '비밀번호', en: 'Password' }) }}</mat-label>
      <mat-hint>Please Input Strong Password</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100" *ngIf=" philgo.isLoggedOut() ">
      <input [(ngModel)]=" form.nickname " name="nickname" type="text" matInput>
      <mat-label>{{ _.t({ko: '닉네임', en: 'Nickname' }) }}</mat-label>
      <mat-hint>Input Nickname</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <input [(ngModel)]=" form.name " name="name" type="text" matInput
             (keyup.enter)="onSubmit()">
      <mat-label>{{ _.t({ko: '이름', en: 'Name' }) }}</mat-label>
      <mat-hint>Input Name</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <input [(ngModel)]=" form.mobile " name="mobile" type="text" matInput
             (keyup.enter)="onSubmit()">
      <mat-label>{{ _.t({ko: '전화번호', en: 'Phone Number' }) }}</mat-label>
      <mat-hint>Input Valid Phone Number</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" *ngIf=" gender ">
      <mat-select name="gender" [(ngModel)]="form.gender">
        <mat-option value="F">{{ philgo.t({ en: 'Female', ko: '여자' }) }}</mat-option>
        <mat-option value="M">{{ philgo.t({ en: 'Male', ko: '남자' }) }}</mat-option>
      </mat-select>
      <mat-label>{{ _.t({ko: '성별', en: 'Gender' }) }}</mat-label>
      <mat-hint>Select Gender</mat-hint>
    </mat-form-field>

    <div class="d-md-flex border-box" *ngIf=" birthday ">
      <mat-form-field appearance="outline" class="w-100 mr-md-1 border-box">
        <mat-select name="birth_month" [(ngModel)]=" form.birth_month ">
          <mat-option *ngFor=" let m of _.makeArrayNumber(12, 1)" value="{{ m}}">{{m}}</mat-option>
        </mat-select>
        <mat-label>{{ _.t({ko: '태어난 월', en: 'Birth Month' }) }}</mat-label>
        <mat-hint>Select Birth Month</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-md-1 border-box">
        <mat-select name="birth_day" [(ngModel)]=" form.birth_day ">
          <mat-option *ngFor=" let m of _.makeArrayNumber(31, 1)" value="{{ m}}">{{m}}</mat-option>
        </mat-select>
        <mat-label>{{ _.t({ko: '태어난 일', en: 'Birth Day' }) }}</mat-label>
        <mat-hint>Select Birth Day</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 ml-md-1 border-box">
        <mat-select name="birth_year" [(ngModel)]=" form.birth_year ">
          <mat-option *ngFor=" let m of _.makeArrayNumber(50, 1)" value="{{ minAge - m }}">{{ minAge - m }}</mat-option>
        </mat-select>
        <mat-label>{{ _.t({ko: '태어난 년도', en: 'Birth Year' }) }}</mat-label>
        <mat-hint>Select Birth Year</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <button  class="flex-center w-100 mt-5 mb-1 p-2 fs-md" type="submit" mat-flat-button>
    <span *ngIf="!loader.submit">{{ philgo.isLoggedIn() ? _.t({ko: '회원 정보 수정', en: 'Update Profile' }) : _.t({ko: '회원 가입 하기', en: 'Register' }) }}</span>

    <span class="flex-center" *ngIf="loader.submit">
      <mat-spinner class="d-inline-block loader-white" [diameter]="24"></mat-spinner><span class="ml-3">{{_.t({ko: '로딩...', en: 'Loading...' })}}</span>
    </span>
  </button>

</form>
