<section class="flex-center flex-column" *ngIf="philgo.isLoggedIn() ">

  <div class="d-flex flex-column align-items-center  of-hidden py-3 w-200px">
    <div class="position-relative">

      <input class="transparent-cover w-200px pointer" type="file" name="file" (change)="onChangePrimaryPhoto($event)">
      <div class="size-120px of-hidden">
        <img class="d-block w-100" src="{{ philgo.profilePhotoUrl(form.url_profile_photo) }}">
      </div>

      <i class="photo-delete-icon top-right m-2 p-2 bg-white black circle pointer material-icons" (click)=" onClickDeletePrimaryPhoto( $event ) " *ngIf=" form.url_profile_photo ">delete</i>

      <button mat-flat-button class="my-3 w-100">
        {{ philgo.t({ko: '사진 업로드', en: 'Upload Photo' }) }}
      </button>
    </div>
  </div>
  <i class="mb-4" *ngIf="percentage">{{ percentage }}%</i>

</section>

<form class="form-content" (ngSubmit)="onSubmit( $event )">

  <div class="p-3 mb-3 bg-light border-bottom" *ngIf="philgo.isLoggedIn() ">
    {{ _.t({ko: '닉네임', en: 'Nickname' }) }} : {{ form.nickname }}
  </div>
  <div class="p-3 mb-3 bg-light border-bottom" *ngIf="philgo.isLoggedIn() ">
    {{ _.t({ko: '이메일', en: 'Email' }) }} : {{ form.email }}
  </div>

  <mat-form-field class="w-100" *ngIf=" philgo.isLoggedOut() ">
    <input [(ngModel)]=" form.email " name="email" type="email" matInput placeholder="{{ _.t({ko: '이메일', en: 'Email' }) }}"
      (keyup.enter)="onSubmit()">
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf=" philgo.isLoggedOut() ">
    <input [(ngModel)]=" form.password " name="password" type="password" matInput placeholder="{{ _.t({ko: '비밀번호', en: 'Password' }) }}"
      (keyup.enter)="onSubmit()">
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf=" philgo.isLoggedOut() ">
    <input [(ngModel)]=" form.nickname " name="nickname" type="text" matInput placeholder="{{ _.t({ko: '닉네임', en: 'Nickname' }) }}">
  </mat-form-field>
  <mat-form-field class="w-100">
    <input [(ngModel)]=" form.name " name="name" type="text" matInput placeholder="{{ _.t({ko: '이름', en: 'Name' }) }}"
      (keyup.enter)="onSubmit()">
  </mat-form-field>
  <mat-form-field class="w-100">
    <input [(ngModel)]=" form.mobile " name="mobile" type="text" matInput placeholder="{{ _.t({ko: '전화번호', en: 'Phone Number' }) }}"
      (keyup.enter)="onSubmit()">
  </mat-form-field>

  
  <mat-form-field class="w-100" *ngIf=" gender ">
      <input [(ngModel)]=" form.gender " name="gender" type="text" matInput placeholder="{{ _.t({ko: '성별', en: 'Gender' }) }}"
        (keyup.enter)="onSubmit()">
    </mat-form-field>
  
  
    <ng-container  *ngIf=" birthday ">
    <mat-form-field class="w-100">
      <input [(ngModel)]=" form.birth_year " name="birth_year" type="text" matInput placeholder="{{ _.t({ko: '태어난 년도', en: 'Birth Year' }) }}"
        (keyup.enter)="onSubmit()">
    </mat-form-field>
    <mat-form-field class="w-100">
        <input [(ngModel)]=" form.birth_month " name="birth_month" type="text" matInput placeholder="{{ _.t({ko: '태어난 월', en: 'Birth Month' }) }}"
          (keyup.enter)="onSubmit()">
      </mat-form-field>
      <mat-form-field class="w-100">
          <input [(ngModel)]=" form.birth_day " name="birth_day" type="text" matInput placeholder="{{ _.t({ko: '태어난 일', en: 'Birth Day' }) }}"
            (keyup.enter)="onSubmit()">
        </mat-form-field>
      </ng-container>
    
        


  <button class="w-100" type="submit" mat-flat-button>
    {{ philgo.isLoggedIn() ? _.t({ko: '회원 정보 수정', en: 'Update Profile' }) : _.t({ko: '회원 가입 하기', en: 'Register' }) }}
  </button>
</form>
