<div class="w-100 fs-small">
  <div *ngIf="!show(post) || show(post) && !post?.files.length" class="rounded m-1 border-box pointer" [ngClass]="{ 'border': !show(post), 'mt-4': show(post) }" (click)=" View.emit( post ) ">
    <div class="flex-center of-hidden w-100 h-100px">
      <img class="h-100 mw-100" src="{{  philgo.getPostPhotoUrl( post, N.profilePhoto, 120, 120 )}}" (error)="a.onErrorGetAnonymousPhoto($event)">
    </div>
    <div class="py-2 px-1 text-center of-hidden">
      <div class="text-link truncate"> {{ post[ N.name ] }}</div>
      <div class="text-muted my-1">{{ post[ N.gender ] == 'F' ? philgo.t({ en: 'Female', ko: '여자' }) :
        post[ N.gender ] == 'M' ? philgo.t({ en: 'Male', ko: '남자' }) : '' }} / {{ _.getAge(post[ N.birthday ])
        }}
      </div>
      <!-- <div>#{{ post.idx }}</div> -->
    </div>
  </div>

  <div class="mx-1 my-4" *ngIf=" show( post ) " >

    <div class="view-post-content">
      <div class="flex-center justify-content-around mx-minus-1" *ngIf=" post?.files?.length " (click)=" View.emit( post ) ">
        <div class="flex-center w-33-percent h-100px h-md-200px of-hidden mx-1 img-thumbnail bg-secondary" *ngIf=" philgo.getSrc( post.files, N.profilePhoto )">
          <img class="w-100" src="{{  philgo.getSrc( post.files, N.profilePhoto )}}">
        </div>
        <div class="flex-center w-33-percent h-100px h-md-200px of-hidden mx-1 img-thumbnail bg-secondary" *ngIf=" philgo.getSrc( post.files, N.bodyPhoto )">
          <img class="w-100" src="{{ philgo.getSrc( post.files, N.bodyPhoto ) }}">
        </div>
        <div class="flex-center w-33-percent h-100px h-md-200px of-hidden mx-1 img-thumbnail bg-secondary" *ngIf="philgo.getSrc( post.files, N.idPhoto )">
          <img class="w-100" src="{{ philgo.getSrc( post.files, N.idPhoto ) }}">
        </div>
      </div>

      <div class="d-md-flex align-items-center mt-4 mb-3">
        <i class="d-none d-md-block material-icons ml-1 mr-3 fs-xl text-muted">record_voice_over</i>
        {{ post[ N.intro ] }}
      </div>

      <div class="meta d-md-flex mx-minus-1">
        <div class="flex-grow-1">
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.name ] ">
              <div class="w-25 fw-bold">Name:</div>
              <div class="w-75">{{ post[ N.name ] }}</div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.gender ]">
              <div class="w-25 fw-bold">Gender:</div>
              <div class="w-75">{{ post[ N.gender ] == 'F' ? philgo.t({ en: 'Female', ko: '여자' }) : post[
                N.gender ] == 'M' ? philgo.t({ en: 'Male', ko: '남자' }) : '' }}
              </div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="_.getAge(post[ N.birthday ])">
              <div class="w-25 fw-bold">Age:</div>
              <div class="w-75"> {{ _.getAge(post[ N.birthday ]) }}</div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.mobile ]">
              <div class="w-25 fw-bold">Mobile:</div>
              <div class="w-75"> {{ post[ N.mobile ] }}</div>
            </div>
        </div>

        <div class="flex-grow-1">
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.email ]">
              <div class="w-25 fw-bold">Email:</div>
              <div class="w-75">{{ post[ N.email ] }}</div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.province ] ">
              <div class="w-25 fw-bold">Province:</div>
              <div class="w-75">{{ post[ N.province ] }}</div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.city ]">
              <div class="w-25 fw-bold">City:</div>
              <div class="w-75"> {{ post[ N.city ] }}</div>
            </div>
            <div class="d-flex p-2 mx-1 my-2 bg-light rounded" *ngIf="post[ N.link ]">
              <div class="w-25 fw-bold">Link:</div>
              <div class="w-75"><a class="text-link" href="{{post[ N.link ]}}" (click)="onClickLink($event)">{{
                post[ N.link ] }}</a></div>
            </div>
        </div>
      </div>

    </div>


    <div class="flex-center mb-5 mt-3">
      <button class="flex-center mx-2" mat-button (click)=" Edit.emit( post ) " *ngIf="philgo.isMyPost( post )">
        <i class="material-icons fs-lg text-link">rate_review</i>
        <span class="ml-1">Edit</span>
      </button>
      <button class="flex-center mx-2" mat-button (click)=" Delete.emit( post ) " *ngIf="philgo.isMyPost( post )">
        <i class="material-icons fs-lg text-danger">delete</i>
        <span class="ml-1">Delete</span>
      </button>
      <button class="flex-center mx-2" mat-button (click)=" View.emit( post ) ">
        <i class="material-icons fs-lg text-danger">clear</i>
        <span class="ml-1">Close</span>
      </button>
    </div>


  </div>


</div>
