<div class="w-100" >

  <div class="rounded m-1 border-box pointer" [ngClass]="{ 'border': !show(post), 'mt-4': show(post) }" (click)=" View.emit( post ) ">
    <div class="flex-center of-hidden w-100 h-100px" [class.bg-secondary]="!show(post)">
      <img class="h-100" src="{{  philgo.getPostPhotoUrl( post, N.profilePhoto, 120, 120 )}}">
    </div>
    <div class="py-2 px-1 text-center of-hidden fs-sm">
      <div class="text-link truncate fs-md"> {{ post[ N.name ] }}</div>
      <div class="text-muted my-1">( {{ post[ N.gender ] == 'F' ? philgo.t({ en: 'Female', ko: '여자' }) :
        post[ N.gender ] == 'M' ? philgo.t({ en: 'Male', ko: '남자' }) : '' }} / {{ _.getAge(post[ N.birthday ])
        }} )
      </div>
      <!-- <div>#{{ post.idx }}</div> -->
    </div>
  </div>

  <div class="mx-1 my-4" *ngIf=" show( post ) " >

    <div class="view-post-content">
      <div class="flex-center justify-content-around mx-minus-1">
        <div class="flex-center w-33-percent max-h-200px of-hidden mx-1">
          <img class="w-100" src="{{  philgo.getSrc( post.files, N.profilePhoto )}}">
        </div>
        <div class="flex-center w-33-percent max-h-200px of-hidden mx-1">
          <img class="w-100" src="{{ philgo.getSrc( post.files, N.bodyPhoto ) }}">
        </div>
        <div class="flex-center w-33-percent max-h-200px of-hidden mx-1">
          <img class="w-100" src="{{ philgo.getSrc( post.files, N.idPhoto ) }}">
        </div>
      </div>

      <div class="my-3 fs-md text-md-center">{{ post[ N.intro ] }}</div>

      <div class="meta d-md-flex my-2 p-2 fs-md bg-light">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-4">Name:</div>
            <div class="col">{{ post[ N.name ] }}</div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">Gender:</div>
            <div class="col">{{ post[ N.gender ] == 'F' ? philgo.t({ en: 'Female', ko: '여자' }) : post[
              N.gender ] == 'M' ? philgo.t({ en: 'Male', ko: '남자' }) : '' }}
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">Age:</div>
            <div class="col"> {{ _.getAge(post[ N.birthday ]) }}</div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">Mobile:</div>
            <div class="col"> {{ post[ N.mobile ] }}</div>
          </div>
        </div>

        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-4">Email:</div>
            <div class="col">{{ post[ N.email ] }}</div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">Province:</div>
            <div class="col">{{ post[ N.province ] }}</div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">City:</div>
            <div class="col"> {{ post[ N.city ] }}</div>
          </div>
          <div class="row no-gutters">
            <div class="col-4">Link:</div>
            <div class="col"><a class="text-link" href="{{post[ N.link ]}}" (click)="onClickLink($event)">{{
              post[ N.link ] }}</a></div>
          </div>
        </div>
      </div>

    </div>


    <div class="flex-center my-3 mt-md-4">
      <button class="flex-center mx-2" mat-button (click)=" Edit.emit( post ) " *ngIf="philgo.isMyPost( post )">
        <i class="material-icons fs-lg text-link">rate_review</i>
        <span class="ml-1">Edit</span>
      </button>
      <button class="flex-center mx-2" mat-button (click)=" Delete.emit( post ) " *ngIf="philgo.isMyPost( post )">
        <i class="material-icons fs-lg text-danger">delete</i>
        <span class="ml-1">Delete</span>
      </button>
      <button class="flex-center mx-2" mat-button (click)=" View.emit( post ) ">
        <i class="material-icons fs-lg text-danger">clear</i>
        <span class="ml-1">Close</span>
      </button>
    </div>


  </div>


</div>
