<form class="form-content pb-4" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]=" uid " name="email" type="email"
      (keyup.enter)="onSubmit()">
      <mat-label>{{ _.t({ko: '로그인 아이디. 아이디 또는 닉네임, 이메일로 로그인 가능합니다.', en: 'Login ID ( Member ID / Nickname / Email )'})}}</mat-label>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]=" password " name="password" type="password"
      (keyup.enter)="onSubmit()">
      <mat-label>{{ _.t({ko: '비밀번호', en: 'Password' }) }}</mat-label>
  </mat-form-field>
  <button class="w-100 mt-4 mb-1 p-2 fs-md" type="submit" mat-flat-button>
    <span *ngIf="!loader.submit">{{ _.t({ko: '로그인', en: 'Login' }) }}</span>
    <span class="flex-center" *ngIf="loader.submit">
      <mat-spinner class="d-inline-block loader-white" [diameter]="24"></mat-spinner><span class="ml-3">{{_.t({ko: '로딩...', en: 'Loading...' })}}</span>
    </span>
  </button>
</form>
