<form class="d-flex align-items-center p-3" (ngSubmit)=" onSubmit() ">

  <div class="position-relative d-flex align-items-center comment-box flex-grow-1">
    <textarea matInput placeholder="Write a comment..." name="content" [(ngModel)]="form.content"></textarea>

    <div class="camera position-absolute transparent-cover-wrapper">
      <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
      <i class="material-icons pointer">camera_alt</i>
    </div>
  </div>

  <button class="flex-center send-button ml-1 p-2">
    <i class="material-icons ml-2" *ngIf=" !loader.submit ">send</i>
    <span class="px-2" *ngIf=" loader.submit ">
      <mat-spinner [diameter]="22"></mat-spinner>
    </span>
  </button>

</form>

<app-display-files [post]=" form " [edit]=" true "  [percentage]=" percentage "></app-display-files>

